
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(../components/images/image-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

header {
    width: 100vw;
    background-color: transparent;
    
}

nav {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom,black,transparent);
   
}

.titulo-logo1{
    float: left;
}

.logo{
    float: left;
    margin-top: 11px;
    margin-left: 185px;
    color: white;
    position: absolute;
}

.logo2{
    position: relative;
    top: 13px;
    left: 250px;
}



h1 {
    color: white;
    margin-top: 25px;
}

div img {
    margin-left: 30px;
}

ul {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
   
}

li {
    margin: 36px;
    list-style-type:none;
    font-family: Arial, Helvetica, sans-serif;
    
}

a{
    text-decoration: none;
    color: aliceblue;
}

.logo3 {
    margin-top: 30px;
    margin-left:200px;
    background-color: transparent;
}

main {
    
}

